@mixin flexCenter($direction: column) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: $direction;
}

@mixin theme($bg, $text) {
    background: $bg;
    color: $text;
}


@function wight($wieght-name) {
    @return map-get($font-weight, key);
}